<button type="button" class="btn btn-success" (click)="addRestaurant()"> Add Restaurant</button>
<form [formGroup]="filterForm">
  <div class="row">
    <div class="col">
      <label for="restaurant_name">Name</label>
      <input type="text" id="restaurant_name" class="form-control" formControlName="name_restaurant" placeholder="Restaurant Name">
    </div>
    <div class="col">
      <label for="cuisine">Cuisine</label>
      <input type="text" id="cuisine" class="form-control" formControlName="name_cuisine" placeholder="Cuisine">
    </div>
    <div class="col">
      <label for="rating">Rating</label>
      <input type="number" min="1" max="5" id="rating" class="form-control" formControlName="customer_rating" placeholder="Rating">
    </div>
    <div class="col">
      <label for="distance">Distance</label>
      <input type="number" id="distance" class="form-control" formControlName="distance" placeholder="Distance">
    </div>
    <div class="col">
      <label for="price">Avg. Price</label>
      <input type="number" id="Price" class="form-control" formControlName="price" placeholder="Price">
    </div>
  </div>
</form>
<app-restaurant-card-list (updateRestaurantList)="updateList($event)" [restaurants]="restaurants"></app-restaurant-card-list>

