

<div class="content" role="main">
  <div class="card-container">
    <div class="container-fluid w-100  p-4">
      <div class="container mt-5 w-100">
          <div class="d-flex w-100 filters">
              <div class="">
                  <div class="form-group">
                      <label for="search"><h4>Search:</h4></label>
                      <input type="text" class="form-control" id="search"  placeholder="Search something">
                  </div>
              </div>
              <div class="ml-3">
                  <div class="form-group">
                      <h4>Filter by:</h4>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="filterBy"  >
                      </div>
                  </div>
              </div>

          </div>
          <div class="list-result">
              <div class="card">
                <div class="card-header">
                    <h6 class="card-title"></h6>
                </div>
                <div class="card-body d-flex">
                  <div>
                      <p class="card-text"><b>Restaurant Name</b>: <span></span></p>
                  </div>
                  <div>
                      <p class="card-text"><b>Cuisine Type</b>: <span></span></p>
                  </div>
                  <div>
                      <p class="card-text"><b>Average Price</b>: <span></span></p>
                  </div>
                  <div>
                      <p class="card-text"><b>Customer Rating</b>: <span></span></p>
                  </div>
                  <div >
                      <p class="card-text"><b>Distance</b>: <span> </span></p>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>


