
<div class="content" role="main">
  <div class="card-container">
    <div class="container-fluid w-100  p-4">
      <div class="container mt-5 w-100">
        <fieldset class="form-group">
        </fieldset>
          <form [formGroup]="filterForm">
            <div class="row">
              <div class="col">
                <label for="restaurant_name">Name</label>
                <input type="text" id="restaurant_name" class="form-control" formControlName="name_restaurant" placeholder="Restaurant Name">
              </div>
              <div class="col">
                <label for="cuisine">Cuisine</label>
                <input type="text" id="cuisine" class="form-control" formControlName="name_cuisine" placeholder="Cuisine">
              </div>
              <div class="col">
                <label for="rating">Rating</label>
                <input type="number" id="rating" class="form-control" formControlName="customer_rating" placeholder="Rating">
              </div>
              <div class="col">
                <label for="distance">Distance</label>
                <input type="number" id="distance" class="form-control" formControlName="distance" placeholder="Distance">
              </div>
              <div class="col">
                <label for="price">Price</label>
                <input type="number" id="Price" class="form-control" formControlName="price" placeholder="Price">
              </div>
            </div>
          </form>
          <div class="list-result" >
            <div class="card" *ngFor="let restaurant of restaurants ">
              <div class="card-header">
                  <h6 class="card-title">{{restaurant.name_restaurant}}</h6>
              </div>
              <div class="card-body d-flex">
                <div>
                    <p class="card-text"><b>Cuisine Type</b>: <span>{{restaurant.name_cuisine}}</span></p>
                </div>
                <div>
                    <p class="card-text"><b>Average Price</b>: <span> USD {{restaurant.price}}</span></p>
                </div>
                <div>
                    <p class="card-text"><b>Customer Rating</b>: <span>{{restaurant.customer_rating}}</span></p>
                </div>
                <div >
                    <p class="card-text"><b>Distance</b>: <span>{{restaurant.distance}} miles</span></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
